{% extends 'index.html' %}
{% load static %}

{% block sidemenu %}
{{ block.super }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
      <li class="breadcrumb-item"><a href="{% url 'base' %}">Main</a></li>
      <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="{{ product.image.url }}" alt="">
    </div>
    <div class="col-md-6 mt-5">
        <h3>{{ product.title }}</h3>
        <hr>
        <h4>Price: ${{ product.price }}</h4>
        <p>Description: {{ product.description }}</p>
        <hr>
        <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger px-4">Add to Cart</button></a>
    </div>
</div>
{% endblock %}